@import "tailwindcss";
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));


.container {
  @apply mx-auto max-w-2xl;
}

.text-outline {
  -webkit-text-stroke: 4px var(--stroke-color);
  text-stroke: 1px var(--stroke-color);
  --stroke-color: oklch(0.37 0.013 285.805); /* zinc-700 */
}